body {
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    text-align: center;
    color: black;
}

.intro {
    background-color: #e49f8c;
    padding: 100px;
}
.result {
    background-color: #db77ce;
    margin-left: 100px;
    margin-right: 100px;
}
